In [2]:
import pandas as pd
import json

# Opening JSON file
f = open('/home/lap13666/Documents/Task_VinhVinh/[Image]_Fake_font_v3_Classification_Image_2023-04-11-09-45-50.json')
  
# returns JSON object as 
# a dictionary
data = json.load(f)
  
# Iterating through the json
# list
for i in data:
    print(i)
  
# Closing file
f.close()

info
data_items
annotations
datasets
classes
inputs

In [4]:
data.keys()

dict_keys(['info', 'data_items', 'annotations', 'datasets', 'classes', 'inputs'])

In [6]:
inf_df = pd.DataFrame(data['data_items'])
inf_df

,id,dataset_id,info,server_path
0,2025_3597,2025,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,6qv5t9a7gq42wm2672ma0h45q2ji48cst12742853n6e98...
1,2025_1320,2025,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,3fu659jbx5x0i2a60rz057zoqt1k1z4h800e71u7g3qm95...
2,2025_2059,2025,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,b91rwy20u8vwbxv2fu2a50uu92o789n1p7dih77twmw94h...
3,2025_936,2025,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,x38876bn0psz525ys975tfol03pdhv3439j5g3w6xf7r65...
4,2025_2779,2025,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,77u1079c7sv6x7ek9438o4g42k3rje00cvggsxl0q9qn68...
...,...,...,...,...
7981,2025_1333,2025,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,6hh09zs12u4k2c13zs2o1f166dc6551d671vziowmb476q...
7982,2025_5364,2025,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,910q62505kv8d58ri6lz6h0ldx9kcx06o887k976u3bof0...
7983,2025_2633,2025,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,2g6lr2xxk7kua89tqze623u7n7m7a595394541we44159v...
7984,2025_365,2025,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,y5e6w4063a9pn327e03b589m2hm066c56ojk352ju8th43...
7985,2025_249,2025,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,49cm73p1kwg3zq44sy26zp0km52g145wc0103ytpwq16s3...

In [101]:
annot_df = pd.DataFrame(data['annotations'])
annot_df = annot_df[['data_item_id','class_id']]
# annot_df = annot_df.set_index('data_item_id')

annot_df

     data_item_id  class_id
0       2016_2067      3723
1       2016_2054      3723
2       2016_3515      3723
3       2016_1973      3723
4       2016_3423      3723
...           ...       ...
4024    2016_2301      3723
4025    2016_2358      3722
4026     2016_485      3723
4027    2016_2949      3722
4028    2016_3453      3723

[4029 rows x 2 columns]

In [15]:
data_df = pd.DataFrame(data['data_items'])
# data_df = data_df.set_index('id')
data_df

,id,dataset_id,info,server_path
0,2016_2067,2016,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,c1a05hm0gc28gf3lo36k4s13fa238g6na2n9jibx382tc9...
1,2016_2054,2016,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,hdfw0294rth2u47m59jc6ov2vr32ph9q0dn34df4hw2ut9...
2,2016_3515,2016,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,xo108wxayg4864vtj87e64pa66304b5v8l0d3l99q6dfpr...
3,2016_1973,2016,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,n997exfmzh7n5w1l5i7y3sa132352511owz9n21va75ino...
4,2016_3423,2016,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,37ce478q16loc4954e51kl7186f179q10iqys4n3w005q2...
...,...,...,...,...
3994,2016_3208,2016,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,pmwsf53l1565e2150vaz0y0r408c752m268i0kv6v5rp9a...
3995,2016_2358,2016,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,o27u05mw9954r9m1u6mgk1s6f11mqncce6yfyp07b53rd8...
3996,2016_485,2016,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,3dz225k233bvahvxr7cb5g6481lrh9zc2k1x3xmjlr070b...
3997,2016_2949,2016,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,r4d7l442sn6881cl7gafj013hl0u641or5n036wog5sg72...
3998,2016_3453,2016,{'url': 'https://z3s.zaloapp.com/zai/upload/me...,man7tqwqmzg43264074c11z2pmq69m59qmbir26wveu8c5...

In [22]:
data_df['url'] = data_df['info'].map(lambda x : x['url'])
# data_df = data_df.set_index('id')
# data_df

In [92]:
class_df = pd.DataFrame(data['classes'])
# class_df = class_df.set_index('id')
class_df.name[1] = 'Fake'

C:\Users\LAP13666-local\AppData\Local\Temp\ipykernel_15524\495857674.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  class_df.name[1] = 'Fake'

In [116]:
class_df = class_df.set_index('id')

In [102]:
annot_df['url'] = annot_df.data_item_id.map(lambda x : fn_df.loc[x].url)

In [117]:
annot_df['class_name'] = annot_df.class_id.map(lambda x: class_df.loc[x,'name'])

In [119]:
final_df = annot_df
final_df

,data_item_id,class_id,url,class_name
0,2016_2067,3723,https://z3s.zaloapp.com/zai/upload/media/2022/...,Fake
1,2016_2054,3723,https://z3s.zaloapp.com/zai/upload/media/2022/...,Fake
2,2016_3515,3723,https://z3s.zaloapp.com/zai/upload/media/2022/...,Fake
3,2016_1973,3723,https://z3s.zaloapp.com/zai/upload/media/2022/...,Fake
4,2016_3423,3723,https://z3s.zaloapp.com/zai/upload/media/2022/...,Fake
...,...,...,...,...
4024,2016_2301,3723,https://z3s.zaloapp.com/zai/upload/media/2022/...,Fake
4025,2016_2358,3722,https://z3s.zaloapp.com/zai/upload/media/2022/...,Other
4026,2016_485,3723,https://z3s.zaloapp.com/zai/upload/media/2022/...,Fake
4027,2016_2949,3722,https://z3s.zaloapp.com/zai/upload/media/2022/...,Other
4028,2016_3453,3723,https://z3s.zaloapp.com/zai/upload/media/2022/...,Fake

In [123]:
group = final_df.groupby(['url', 'class_name'])

In [131]:
A = group.first()
A

,,data_item_id,class_id
url,class_name,,
https://z3s.zaloapp.com/zai/upload/media/2022/11/11/1668137210_2867975_1668137210421_86263.jpg,Other,2016_1,3722
https://z3s.zaloapp.com/zai/upload/media/2022/11/11/1668137213_6966412_1668137213023_86309.jpg,Fake,2016_2,3723
https://z3s.zaloapp.com/zai/upload/media/2022/11/11/1668137224_9751682_1668137224158_86485.jpg,Other,2016_4,3722
https://z3s.zaloapp.com/zai/upload/media/2022/11/11/1668137227_217784_1668137226845_86559.jpg,Other,2016_5,3722
https://z3s.zaloapp.com/zai/upload/media/2022/11/14/1668397369_942881_1668397369945_1257103.jpg,Other,2016_6,3722
...,...,...,...
https://z3s.zaloapp.com/zai/upload/media/2022/11/23/1669204660_4186406_1669204660059_1012755.jpg,Other,2016_3995,3722
https://z3s.zaloapp.com/zai/upload/media/2022/11/23/1669205004_1172554_1669205003300_1015866.jpg,Other,2016_3996,3722
https://z3s.zaloapp.com/zai/upload/media/2022/11/23/1669205031_0528111_1669205030987_1016148.jpg,Other,2016_3997,3722
https://z3s.zaloapp.com/zai/upload/media/2022/11/23/1669205182_0896032_1669205181455_1017796.jpg,Fake,2016_3998,3723
https://z3s.zaloapp.com/zai/upload/media/2022/11/23/1669205354_9311001_1669205354495_1019410.jpg,Other,2016_3999,3722

In [133]:
A.to('re.txt')

AttributeError: 'DataFrame' object has no attribute 'to_txt'