In [1]:
import pandas as pd

In [2]:
path = input("paht:")
df1 = pd.read_csv(path)
df1

paht: benchmark_faceid_myvng_frontal_202304111533.csv

,id,label_url,lb1,ds_name,time
0,4,https://res-zalo.zadn.vn/upload/media/2022/4/4...,"{""data"": [{""class_id"": ""3756"", ""class_name"": ""...",NaN,NaN
1,14,https://res-zalo.zadn.vn/upload/media/2022/4/1...,"{""data"": [{""class_id"": ""3756"", ""class_name"": ""...",NaN,NaN
2,26,https://res-zalo.zadn.vn/upload/media/2022/4/1...,"{""data"": [{""class_id"": ""3758"", ""class_name"": ""...",NaN,NaN
3,45,https://res-zalo.zadn.vn/upload/media/2022/4/2...,"{""data"": [{""class_id"": ""3756"", ""class_name"": ""...",NaN,NaN
4,48,https://res-zalo.zadn.vn/upload/media/2022/4/2...,"{""data"": [{""class_id"": ""3756"", ""class_name"": ""...",NaN,NaN
...,...,...,...,...,...
1999,998,https://z3s.zaloapp.com/zai/upload/media/2023/...,"{""data"": [{""class_id"": ""3756"", ""class_name"": ""...",NaN,NaN
2000,1003,https://z3s.zaloapp.com/zai/upload/media/2023/...,"{""data"": [{""class_id"": ""3756"", ""class_name"": ""...",NaN,NaN
2001,1004,https://z3s.zaloapp.com/zai/upload/media/2023/...,"{""data"": [{""class_id"": ""3756"", ""class_name"": ""...",NaN,NaN
2002,991,https://z3s.zaloapp.com/zai/upload/media/2023/...,"{""data"": [{""class_id"": ""3756"", ""class_name"": ""...",NaN,NaN
2003,1000,https://z3s.zaloapp.com/zai/upload/media/2023/...,"{""data"": [{""class_id"": ""3756"", ""class_name"": ""...",NaN,NaN

In [54]:
import ast
df2 = df2.apply(lambda x: ast.literal_eval(x))
df2 = df2.apply(pd.Series)

In [55]:
df2

0       {'data': [{'class_id': '3756', 'class_name': '...
1       {'data': [{'class_id': '3756', 'class_name': '...
2       {'data': [{'class_id': '3758', 'class_name': '...
3       {'data': [{'class_id': '3756', 'class_name': '...
4       {'data': [{'class_id': '3756', 'class_name': '...
                              ...
1999    {'data': [{'class_id': '3756', 'class_name': '...
2000    {'data': [{'class_id': '3756', 'class_name': '...
2001    {'data': [{'class_id': '3756', 'class_name': '...
2002    {'data': [{'class_id': '3756', 'class_name': '...
2003    {'data': [{'class_id': '3756', 'class_name': '...
Name: lb1, Length: 2004, dtype: object